@import '../../assets/layout/colors';

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 60px;

  @media only screen and (max-width: 1400px) {
    max-width: calc(100% - 68px);
    padding: 0 30px;
  }

  @media only screen and (max-width: 768px) {
    max-width: calc(100% - 38px);
    padding: 0 18px;
  }

  @media only screen and (max-width: 414px) {
    max-width: 100%;
    padding: 0 18px;
  }

  @media (max-width: 320px) {
    max-width: 100%;
    padding: 0 10px;
  }
}